{% extends "base.html" %}
{% load static tailwind_tags %}
{% load static %}

{% block content %}
<div class="text-center pb-12">
    <h2 class="text-base font-bold text-[#4E937A]">
        Cultivate To Sprout. Determine Your Route
    </h2>
    <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
        BeanPath Courses
    </h1>
</div>



<div class="h-full flex w-full justify-center items-center p-2">

    <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 p-4 md:p-2 xl:p-5">
        {% for course in course_list %}
        <!-- card  -->
        <div
            class="relative bg-white border rounded-lg shadow-md dark:border-gray-700 transform transition duration-500 hover:scale-105">
            <div class="p-2 flex justify-center">
                <a href="{% url 'course:course' course.id %}">
                    <img class="rounded-md" src="{{ course.image_src }}" loading="lazy">
                </a>
            </div>

            <div class="px-4 pb-3">
                <div>
                    <a href="{% url 'course:course' course.id %}">
                        <h5 class="text-xl font-semibold tracking-tight text-gray-900">
                            {{ course.course_name }}
                        </h5>
                    </a>

                    <p class="antialiased text-gray-400 text-sm break-all">
                        {{ course.shortdescription }}
                    </p>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}